c
c This is glucose-syrup 4.2.1 (glucose in many threads) --  based on MiniSAT (Many thanks to MiniSAT team)
c
c ========================================[ Problem Statistics ]===========================================
c |                                                                                                       |
c |  Number of variables:            21                                                                   |
c |  Number of clauses:           54446                                                                   |
c |  Parse time:                   0.03 s                                                                 |
c |                                                                                                       |
c |  Simplification time:          9.98 s                                                                 |
c |                                                                                                       |
c |  Automatic Adjustement of the number of solvers. MaxMemory=20000, MaxCores=  4.                       |
c |  One Solver is taking 19.18Mb... Let's take 4 solvers for this run (max 40% of the maxmemory).       |
c |  Generating clones                                                                                    |
c |  all clones generated. Memory =  38.13Mb.                                                             |
c ========================================================================================================|
c last restart ## conflicts  :  6 12
c Thread 3 is 100% pure glucose! First thread to finish! (SAT answer).
c last restart ## conflicts  :  6 12
c Total Memory so far : 38.64Mb
c last restart ## conflicts  :  6 12
c
c real time : 10.1022 s
c cpu time  : 10.0215 s
c
c
c
c |---------------------------------------- FINAL STATS --------------------------------------------------|
c
c |---------------|-----------------|------------|------------|------------|------------|
c | Threads       |      Total      |          0 |          1 |          2 |          3 |
c |---------------|-----------------|------------|------------|------------|------------|
c | Conflicts     |              27 |          9 |          6 |          6 |          6 |
c | Decisions     |              77 |         20 |         19 |         19 |         19 |
c | Propagations  |             216 |         60 |         52 |         52 |         52 |
c | Avg_Trail     |                 |         20 |         20 |         20 |         20 |
c | Avg_DL        |                 |         11 |         11 |         11 |         11 |
c | Avg_Res       |                 |          0 |          0 |          0 |          0 |
c | Avg_Res_Seen  |                 |          0 |          0 |          0 |          0 |
c |---------------|-----------------|------------|------------|------------|------------|
c | Exported      |               0 |          0 |          0 |          0 |          0 |
c | Imported      |               0 |          0 |          0 |          0 |          0 |
c | Good          |               0 |          0 |          0 |          0 |          0 |
c | Purge         |               0 |          0 |          0 |          0 |          0 |
c | Promoted      |               0 |          0 |          0 |          0 |          0 |
c | Remove_Imp    |               0 |          0 |          0 |          0 |          0 |
c | Blocked_Reuse |               0 |          0 |          0 |          0 |          0 |
c |---------------|-----------------|------------|------------|------------|------------|
c | Unaries       |                 |          0 |          0 |          0 |          0 |
c | Binaries      |                 |          0 |          0 |          0 |          0 |
c | Glues         |                 |          0 |          0 |          0 |          0 |
c |---------------|-----------------|------------|------------|------------|------------|
c | Orig_Seen     |             0 % |         39 |         28 |         28 |         28 |
c | Diff Orig seen|                 |         11 | -        0 | -        0 |      X     |
c | Hamming       |             4 % |          4 |          0 |          0 |      X     |
c |---------------|-----------------|------------|------------|------------|------------|

s SATISFIABLE
v -1 -2 3 4 -5 -6 7 -8 -9 -10 -11 12 -13 -14 15 -16 -17 18 19 -20 -21 0


##################################################################
###########[ Human readable result of the tile puzzle ]###########
##################################################################

Circuit will use these edges:
(1, 4)
(1, 5)
(2, 3)
(2, 6)
(3, 7)
(4, 7)
(5, 6)
